body {
    background-image: url("../images/pubtable.jpg");
    background-size: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    opacity: 0.65;
    padding: 10px;
    margin: 20px;;
  }
  
.grid-container > div {
    background-color: #FFFFFF;
    opacity: 0.65;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
.q {
    grid-column-start: 1;
    grid-column-end: 4;
  }

