body {
    background-image: url("../images/pubtable.jpg");
    background-size: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

#background {
    position: relative;
}

#poster {
    position: absolute;
    left: 1%;
    top: -0.75%;
    width: 20%;
    opacity: 0.8;
    z-index: 1;
}

/* NEED TO ADD GOOGLE FONTS AND MAKE H1 LINE UP NEXT TO POSTER */
h1 {
    text-align: center;
    color: white;
    position: absolute;
    left: 23%;
    top: 3%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    opacity: 0.65;
    padding: 15px;
    margin: 20px 50px 0px 50px;
  }
  
.q {
    background-color: #FFFFFF;
    opacity: 0.65;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .a {
    background-color: #FFFFFF;
    opacity: 0.65;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
  }


#ready {
    background-color: #FFFFFF;
    opacity: 0.75;
    z-index: 2;
    text-align: center; 
    padding: 20px 0;
    font-size: 30px;
    width: 200px;
    margin: 20px;
    position: absolute;
    left: 60%;
    top: 1%;
}

#head {
    height: 100px;
}




